#pip install -r requirements.txt

# API Web
fastapi
uvicorn[standard]
pydantic
python-dotenv
requests

# Base de données
psycopg2

# Génération QR Code
qrcode
pillow
segno

# Interface Ligne de Commande (CLI)
InquirerPy
regex

# Utilitaires
PyYAML

# Tests
pytest

# Token
python-multipart